<div class="chat-sidebar">
  <div class="chat-sidebar__header chat-sidebar-header">
    <div class="chat-sidebar-header__title">
      Aktywne rozmowy
    </div>
  </div>
  <div class="chat-sidebar__chats chat-sidebar-chats">
    <div class="chat-sidebar-chats__element chat-header" *ngFor="let chatHeader of chatHeaders"
         [ngClass]="{'chat-sidebar-chats__element--selected':isSelected(chatHeader.id)}"
         (click)="openChat(chatHeader.id)">
      <div class="chat-header__login">{{chatHeader.login}}</div>
      <div class="chat-header__auction">{{chatHeader.auctionName}}</div>
      <div class="chat-header__lastMessage">{{chatHeader.lastMessage}}</div>
    </div>
  </div>

</div>
